/* CSS files --> projects.html */
body{
    background-color: #ffffff;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: #ffffff;
}
h1{
    text-align: center; 
    font-family: cursive;
    color: #d7d7d7;
    background-color: #313131;
} 
h3{
    text-align: center;
    font-family: cursive;
    font-weight: normal;
}
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
p{
    text-align: center; 
    font-family: cursive;
}
p b {
    box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:cursive;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton {
	box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}
.myButton:active {
	position:relative;
	top:1px;
}
td {
    font-family: cursive;
}
td input {
    font-family: cursive;
    border-radius:5px;
}
td button {
    font-family: cursive;
    color: rgb(0, 0, 0);
    background-color: #59fadf;
    border-radius:5px;
}
.aaaa {
    box-shadow:inset 0px 1px 0px -2px #ffffff;
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	background-color:#ffffff;
	border-radius:10px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}